img.logo{
  width: 160px;
  height: 128px;
  border: 5px groove;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* navigation */
.topnav {                     
  padding: 0px;
  margin-left: 10px;
  overflow: hidden;
}

.topnav a {
  display: block;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 17px;
  background-color: #333;
}

.topnav p {
  float: left;
  margin-left: 10px;
  font-size: 32px;
  padding: 0px;
  margin-top: 17px;
  font-weight: bold;
  font-family: Comic San
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.title{
	border:solid 2px #A7CAD7;
	padding:25px;
	margin:25px;
	background-color:#A7CAD7;
}

/* grid container */

.wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.wrapper > div {
	border:solid 1px black;
  text-align: center;
  padding: 5px 0;
}

.grid-container {
  display: grid;
  grid-template-columns:800px 1000px;
  gap: 10px;
  padding: 10px;
}


.grid-container > div {
  text-align: center;
  padding: 5px 0;
}

.grid-container1 {
  display: grid;
  grid-template-columns:300px 300px;
  gap: 30px;
  justify-content: space-evenly;
  align-content:space-evenly;
}

.grid-container1 > div {
  text-align: center;
  padding: 5px 0;
}

.grid-container2 {
  display: grid;
  grid-template-columns:300px 300px 300px;
  gap: 30px;
  justify-content: space-evenly;
  align-content:space-evenly;
}

.grid-container2 > div {
  text-align: center;
  padding: 5px 0;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 30px;
  padding: 2px;
  font-size: 30px;

}


/*admindemail*/
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  display:flex;
  align-items: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* button */
.buttonbackground{
	display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
	background-color:transparent;
}
.button1 {
	background-color: #4CAF50;
	margin: 20px 0 20px 20px;
} 
.button2 {background-color: #008CBA;} /* Blue */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

input {
  width: 30%;
  padding: 5px;
  margin: 0px 0px 10px 30px;
  border: none;
  display: flex;
  background: #ECF0F8;
  font-size:14px;
}
.block {
  display: block;
  width: 90%;
  border: 1px solid black;
  background-color: #ECF0F8;
  color: black;
  padding: 14px 28px;
  margin:0px 160px 0px 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #E5E9F1;
  color: black;
}
.avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 15px 10px 5px;
}
.container{
	display:flex;
	border:3px solid black;
	width：90%；
	height:1000px;
	background-color:#ffffff;
	margin: 0px 50px 50px 50px;
    align-items: center;
}
.container1{
	border:none;
	width：40%；
	height: 700px;
	background-color:#ffffff;
	margin: 10px 0px 10px 10px;
}
.container2{
	border:1px solid black;
	background-color:#ffffff;
	margin: 10px 10px 10px 0px;
	padding: 10px 10px 10px 10px;
	width:70%;
	height: 500px;
}
.con{
	border:3px solid black;
	border-style: solid solid hidden solid;
	width：90%;
	background-color:#ffffff;
	margin: 0px 50px 0 50px;
	padding: 5px;
	display:flex;
	align-items: center;
    justify-content: space-between;
}
.con2{
	border:3px solid black;
	background-color:#ECF0F8;
	width:690px;
	border-style: hidden solid solid solid;
	margin: 0px 50px 0 50px;
	padding: 5px;
	display:flex;
	align-items: center;
    justify-content: space-between;
}

/* comment */
.popup{
	position: absolute;
	top:0;
	left:50%;
	transform:translate(-50%,-50%)scale(0.1);
	text-align:center;
	padding: 0 30px 30px;
	color:#333;
	visibility:hidden;
	transition: transform 0.4s,top 0.4s;
}
.popup h2{
	font-size:38px;
	font-weight:500;
	margin: 30px 30px;
}
.open-popup{
	visibility:visible;
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%)scale(1);
}

/*comment*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}
.buttonbackground{
	display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
	background-color:transparent;
}

/* content */
.content{
    display:block;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;

}

#contentdata{
	width:100%;
    height:400px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: 30px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
#contentpicture{
	width:30%;
    height:300px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: auto;
	
}
#contentdescription{
	width:80%;
    height:300px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: auto;
	padding: 10px 30px 10px 30px;
}
#contentcomment{
	width:80%;
    height:200px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: auto;
	padding: 10px 30px 10px 30px;
}
.button {
  align:right;
  border: none;
  color: white;
  padding: 10px 22px;
  display:flex;
  align-items: center;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 15px 2px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */

input {
  padding:10px;
  margin: 15px 0 15px 20px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size:14px;
}

/*compadminpost*/
.box1 {
  position: relative;
  border: 3px solid;
  width: 30%;
  min-height: 780px;
  margin-left: 7.5%;
  display: block;
  float: left;
  background-color:white;
}

.box1 h3 {
text-align: center;
font-size: 2vw;
}

.box1 img {
  max-width: 70%;
  border: 3px dashed;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box1 p {
  font-style: italic;
  text-align: left;
  font-size: 1.15vw;
  margin-left: 10px;

}

.box2 {
  position: relative;
  border: 3px solid;
  width: 55%;
  min-height: 780px;
  display: block;
  float: left;
  background-color:white;
}

.box2 h3 {
  margin:25px 50px;
  font-size: 1.5vw;
}

.box2 p {
  margin: 25px 35px;
}

.postButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35%;
  height: 5%;
  font-family: Comic Sans;
  font-size: 1.2vw;
}

/*compread*/
.loginButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35%;
  height: 5%;
  font-family: Comic Sans;
  font-size: 1.2vw;
}

/*compread2*/
.joinButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35%;
  height: 5%;
  font-family: Comic Sans;
  font-size: 1.2vw;
}

/*compterms*/
.tacbox {
  display:block;
  padding: 0.5em;
  margin: 2em;
  border: 3px solid #ddd;
  background-color: #eee;
  max-width: 800px;
}

.tacbox input {
  height: 1em;
  width: 2em;
  vertical-align: middle;
}

.filebox p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  border: 2px solid;
}

.filebox input.submitbutton{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35%;
  height: 5%;
  font-family: Comic Sans;
  font-size: 1.2vw;
}

/*email*/
.block {
  display: block;
  width: 100%;
  height:150px;
  border: 1px solid black;
  background-color: #ECF0F8;
  color: black;
  padding: 14px 28px;
  margin:30px 160px 30px 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #E5E9F1;
  color: black;
}
.avatar {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 15px 10px 5px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.buttonbackground{
	display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
	background-color:transparent;
}

/*rc*/
.content{
    display:block;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;

}

#contentdata{
	width:100%;
    height:400px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: 30px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
}
#contentpicture{
	width:30%;
    height:300px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: auto;
	
}
#contentdescription{
	width:80%;
    height:300px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: auto;
	padding: 10px 30px 10px 30px;
}
#contentcomment{
	width:80%;
    height:700px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: auto;
	padding: 10px 30px 10px 30px;
}

/*vc*/
label {
	margin-left:10px;
}

.content1{
    display:block;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;

}
#contentpicture1{
	width:91%;
    height:250px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: 30px 0px 0px 30px;
}
#contentdescription1{
	width:60%;
    height:370px;
    background-color:#FFFFFF;
    border:5px solid;
    border-width: thick;
	margin: 30px 10px 0px 30px;
}

.button3 {background-color: #ccccb3;width:97%;} /* Light Grey */

