p {font-size:10px}
img.logo{
  width: 160px;
  height: 128px;
  border: 5px groove;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  padding: 0px;
  margin-left: 10px;
  overflow: hidden;
}

.topnav a {
  display: block;
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 17px;
  background-color: #333;
}

.topnav p {
  float: left;
  margin-left: 10px;
  font-size: 32px;
  padding: 0px;
  margin-top: 17px;
  font-family: Comic San;
  font-weight: bold;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}
#profiledata{
	width:60%;
  background-color:#FFFFFF;
  border:5px solid;
  border-width: thick;
	margin: 30px 0px 0px 0px;
	padding: 40px 0px 0px 10px
  
}
#profile{
	width:30%;
  height:300px;
  background-color:#FFFFFF;
  border:5px solid;
  border-width: thick;
	margin: 30px 0px 0px 0px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  display:flex;
  align-items: center;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */


input {
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size:15px;
}